.body-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
}

.form-container {
    background-color: black;
    padding: 250px 10px 70px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.container-right {
    max-width: 500px;
    padding: 28px;
    margin: 28px;
    border-radius: 15px;
    background-color: #00a6fb;
}

.container-left img {
    width: 100%;
}

.form-contact h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 8px;
    border-bottom: 1px solid #1565c0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n) {
    justify-content: end;
}

.input-box:last-child{
    width: 100%;  
}

.input-box input, select {
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgb(0,0, 0,0.2);   
}

.input-box textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box label {
    width:  95%;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
}

.terms {
    color: #fff;
}

.terms label {
    padding: 0 20px 0 5px;    
    font-size: 14px;
}

.terms label, .terms label input {
    cursor: pointer;
}

.button-container {
    margin: 15px 0;
}

.button-container button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: white;
    background: #1565c0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #64b5f6;
}

.map-section {
    padding-bottom: 4%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    color: #fff;
}

.map-section h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
}

.map-info p {
    letter-spacing: 1px;
    line-height: 32px;
    margin-top: 20px;
}

.social-media-contact {
    padding: 13px;
}

.social-media-contact a {
    padding: 5px;
    font-size: 25px;
    margin-left: 13px;
    color: #64b5f6;
    border: solid 2px #64b5f6;
    border-radius: 50%;
    transition: all .7s ease;
}

.social-media-contact a:hover {
    scale: calc(1.1);
    color: #1565c0;
    border: solid 2px #1565c0;
}


@media ( max-width: 950px ) {
    .map-info {
        text-align: center;
    }

    .map-section p {
        margin-bottom: 20px;
    }

    iframe {
        width: 250px;
    }
}