* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.menu {
    width: 100%;
    overflow: auto;
    padding: 0 50px;
    background-color: #64b5f6;
    -webkit-box-shadow: 0px 11px 22px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 22px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 22px -8px rgba(0,0,0,0.75);
}

.menu a {
    float: right;
    text-align: center;
    /* padding-top:  60px; */
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 15px;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #64b5f6;
    height: auto;
    padding-top: 40px;
    width: 100%;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 50px;
}

.social-media {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.social-media li{
    margin: 0 10px;
}

.social-media li a {
    text-decoration: none;
    color: white;
    border: 1.1px solid white;
    padding: 8px;
    border-radius: 50%;
    width: 35px;
}

.footer-menu {
    margin-bottom: 20px;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: white;
    border: 1.3px solid white;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #00a6fb;
}

.footer-credits {
    background: #1565c0;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.footer-credits p {
    text-align: center;
    font-size: 20px;
    word-spacing: 2px;
}






